@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Space mono";
    src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark-primary: #202020;
    --color-dark-secondary: #1D1D1B;
    
    --color-white: #FFFFFF;
    --color-light-gray: #C4C4C4;
    --color-text-muted: #707070;
    --color-accent: #FBED81;
        
    --color-bg-light-primary: #FFFFFF;
    --color-light-yellow: #FDF1D9;
    --color-light: #F8F8F8;


    --font-family-primary: 'Space Mono', sans-serif;
    --font-family-secondary: 'Anton', sans-serif;

    --container-width: 1920px;

    --base-border:  1px solid var(--color-dark-secondary);
    --transition-duration: 0.2s;

    --container-padding-x: 15px;
}  


a,
input,
button,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}



body {
    color: var(--color-dark-primary);
    font-size: 18px;
    line-height: 1.33;
    font-family: var(--font-family-primary);
    background-color: var(--color-white);
}


h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-family-secondary);
}


/* Убираем стрелку у select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;

    cursor: pointer;

    background: url("../icons/row-bottom.svg") no-repeat right center;
}

/* Убираем иконку у date */
input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("../icons/row-bottom.svg") no-repeat right center;
}

/* Chrome/Safari — скрываем календарь */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;

    cursor: pointer; /* клик всё ещё открывает календарь */
}



a {
    text-decoration: none;
    color: var(--color-dark-primary);
}

a:hover {
    color: var(--color-text-muted);
}

.description {
    font-size: clamp(14px, 0.93vw, 18px);
}

.title-tiny {
    font-size: clamp(14px, 1.3vw, 25px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-family: var(--font-family-secondary);
}


.title-small {
    font-size: clamp(16px, 1.82vw, 35px);
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.02em;
    font-family: var(--font-family-secondary);
}

.title-medium {
    font-size: clamp(18px, 2.6vw, 50px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-family: var(--font-family-secondary);
}

.title-big {
    font-size: clamp(25px, 3.64vw, 70px);
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.02em;
    font-family: var(--font-family-secondary);
}


.five-stars {
    position: relative;
}

.five-stars::before {
    content: '';
    background: url("../icons/five-stars.svg") center/contain no-repeat;
    display: inline-block;
    position: absolute;
    width: 102px;
    aspect-ratio: 102/17;
    top: -24px;
    left: 50%;
    translate: -50% 0;
}

.quote-author {
    font-style: normal;
    font-size: clamp(10px, 0.9vw, 18px);
}

address {
    font-style: normal;
}

.input {
    border-inline: none;
    border-top: none;
    border-bottom: var(--base-border);
    outline: none;
}


.button {
    padding-block: 21px;
    padding-inline: 35px;
    background-color: var(--color-dark-secondary);
    color: var(--color-white);
    font-family: var(--font-family-secondary);
    line-height: 1;
    letter-spacing: 0.08em;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}


.button:hover {
    color: var(--color-light-gray);
}


.has-arrow {
    position: relative;
}

button.has-arrow:hover {
    color: var(--color-text-muted);
}

button.has-arrow:hover::after{
    transition-duration: var(--transition-duration);
    translate: 10px -50%;
}

.has-arrow::after {
    content: '';
    background: url("../icons/right-row.svg");
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 25px;
    left: calc(100% + 5px);
    top: 50%;
    translate: 0 -50%;
}

.button--transparent {
    background-color: transparent;
}

.button--transparent--without-border {
    background-color: transparent;
    border: none;
    font-size: clamp(12px, 0.8vw, 16px);
    font-family: var(--font-family-secondary);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.button--without-border {
    border: none;
}

.button--leaky {
    background: url("../images/bg-white-dots.png") 50%/cover repeat;
    background-color: var(--color-dark-secondary);
    border: none;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}


.has-underline--header-link {
    position: relative;
}

.has-underline--header-link::after {
    content: '';
    background: url("../icons/underline.svg") center/cover no-repeat;
    display: block;
    width: 100%;
    height: 3px;
}

.header__inner-item:hover a {
    color: var(--color-text-muted);
}


.has-underline {
    position: relative;
}

.has-underline::after {
    content: '';
    background: url("../icons/underline.svg") center/cover no-repeat;
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}


.has-underline--header-link:hover::after {
    transition: 0.1s;
    translate: 0 5px;
}

span.has-underline {
    display: inline;
}


.with-love {
    position: relative;
}

.with-love::after {
    content: '';
    background: url("../images/with-love.png") center/contain no-repeat;
    display: block;
    position: absolute;
    width: 3.775em;
    height: 1.175em;
    left: 0.68em;
    top: 3.3em;
}


.natural-product {
    position: relative;
}

.natural-product::before {
    content: '';
    background: url("../icons/natural-product.svg") center/contain no-repeat;
    display: block;
    position: absolute;
    width: 3.775em;
    height: 1.175em;
    left: 0.68em;
    top: -0.8em;
}


.mark-new {
    position: relative;
}


.mark-new::after {
    width: 67px;
    aspect-ratio: 67/34;
    content: 'new';
    background: var(--color-accent);
    position: absolute;
    display: inline-flex;
    top: 15px;
    right: 0;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family-secondary);
    color: var(--color-dark-primary);
    text-transform: uppercase;
    line-height: 1;
    font-size: 18px;
    letter-spacing: 0.01em;

    padding-top: 3px;
}

.mark-sold {
    position: relative;
}


.mark-sold::after {
    width: 71px;
    aspect-ratio: 67/34;
    content: 'sold';
    background: var(--color-dark-secondary);
    position: absolute;
    display: inline-flex;
    top: 15px;
    right: 0;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family-secondary);
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 1;
    font-size: 18px;
    letter-spacing: 0.01em;

    padding-top: 3px;
}


.coffee-product {
    display: flex;
    padding-bottom: 35px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.coffee-product-wrapper:not(:first-child) {
    border-left: var(--base-border);
}

.coffee-price {
    display: flex;
    flex-direction: column;
    padding-left: 43px;
    align-self: start;
}


/* Header */
.header {
    background-color: var(--color-white);
}

/* Верхняя часть */
.header__top-bar {
    background-color: var(--color-dark-primary);
    color: var(--color-white);
    padding-block: 10px;
    text-align: center;
}


.header__main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text-muted);
}

/* Две части хедера */
.header__main-part {
    display: inline-flex;
    align-items: center;
}


.header__main-left-part {
    justify-content: space-between;
}

/* Списки и пр. */
.header__inner-list {
    display: inline-flex;
    align-items: center;

    /* column-gap: 47px; */
    padding-left: 40px;
}

.header__inner-item {
    padding-inline: 23px;
    padding-block: 37.5px;
}


.header__logo-search {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: var(--base-border);
}


.header__inner-right-menu {
    padding-inline: 10.4vw 36px;
}


/* banner */

.banner {
    background-color: var(--color-white);
    border-inline: var(--base-border);
    display: grid;
    grid-template-columns: 52% 48%;
    background: url("../images/bg-dots.png") center/cover;
}

.banner__title {
    font-size: clamp(36px, 6.25vw, 120px);
}

.our-blends__header-item {
    font-size: clamp(10px, 0.8vw, 16px);
}

.banner__body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
}



.banner__image-wrapper {
    position: relative;
    padding-bottom: min(1143px, 114.8%);
    max-height: 1143px;
    height: 0;
}


.banner__image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: 1143px;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    border: 0;
}

/* our blends */
.our-blends__header-list {
    display: flex;
    padding-block: 29px 23px;
    justify-content: center;
    column-gap: 30px;

    border: var(--base-border);
}

.our-blends__header-link:not(:last-child) {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.our-blends__header-link:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(100% + 15px);
    height: 16px;
    width: 1px;

    background-color: var(--color-dark-primary);
}

.our-blends__body {
    background-color: var(--color-light-yellow);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.our-blends__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    padding-top: 100px;
    padding-bottom: 78px;
    padding-left: 93px;
    padding-right: 5px;
    row-gap: 10px;

    border-right: var(--base-border);
}


.our-blends__title:not(:last-child) {
    margin-bottom: 22px;
}


.our-blends__products {
    display: flex;
}


.our-blends__product-wrapper {
    flex-grow: 1;
}

.our-blends__body:not(:last-child) {
    border-right: var(--base-border);
}

.our-blends__description {
    font-size: clamp(12px, 0.93vw, 18px);
}

.coffee-menu__title {
    padding-left: 50px;
    padding-block: 38px;
}


/* slogan-bar */

.slogan-bar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.coffee-centers__amsterdam  {
    border-right: var(--base-border);
}

.slogan-bar__title {
    text-align: center;
    line-height: 1.1;
    font-size: clamp(16px, 5.2vw, 100px);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--color-white);
}


/* coffee-quality */
.coffee-quality {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border-inline: var(--base-border);
}

.coffee-quality__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-quality__quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 52px;
}


/* coffee centers */
button.coffee-centers__other-cities-item {
    text-align: left;
}

button.coffee-centers__other-cities-item:not(:first-child) {
    border-block: var(--base-border);
}


button.coffee-centers__other-cities-item:hover {
    background-color: var(--color-white);
    padding-top: 70px;
}


.coffee-centers {
    background-color: var(--color-light);
    border-block: var(--base-border);
    display: flex;
}

.coffee-centers__amsterdam  {
    display: flex;
    column-gap: 60px;
    padding-block: 100px;
    padding-left: 60px;

    flex-grow: 1;
}

.coffee-centers__other-cities-list {
    height: 100%;
}

.coffee-centers__amsterdam-image {
    border-radius: 10px;
}

.coffee-centers__other-cities-item {
    writing-mode: vertical-rl;
    transform: scaleY(-1) scaleX(-1);
    padding-top: 50px;
    padding-block: 22px;
    font-size: clamp(30px, 2.6vw, 50px);
    font-family: var(--font-family-secondary);
    line-height: 1.2;
}



.coffee-centers__body-title {
    padding-bottom: 24px;
}

.coffee-centeres__body-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.coffee-centeres__body-list {
    padding-bottom: 45px;
}


.coffee-centers__other-cities-list {
    display: flex;
}


.coffee-centers__other-cities-item:first-child {
    border-right: var(--base-border);
}

.coffee-centers__amsterdam-image {
    height: auto;
    flex-grow: 1;
}

.coffee-centers__body-title {
    font-size: clamp(18px, 1.3vw, 25px);
}

.coffee-centeres__body-item {
    font-size: clamp(12px, 0.9vw, 18px)
}

.coffee-centers__body {
    flex-grow: 1;
}

/* coffee-menu */

.coffee-menu {
    display: flex;
    flex-direction: column;
    border-bottom: var(--base-border);
    border-inline: var(--base-border);
}

.coffee-menu__products {
    display: flex;
    border-top: var(--base-border);
}

.coffee-product-wrapper {
    flex-grow: 1;
}

.price {
    font-size: clamp(12px, 0.93vw, 18px);
}

/* menu-food */
.menu-food {
    background-color: var(--color-light-yellow);
    border-inline: var(--base-border);
    border-bottom: var(--base-border);
    display: grid;
    grid-template-columns: 41.7% 58.3%;
}

.menu-food__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    row-gap: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 142px;
    padding-bottom: 90px;
}

.menu-food__body-image {
    max-width: 100%;
    height: auto;
}

.menu-food__list {
    display: flex;
    flex-direction: column;
    border-left: var(--base-border);
}

.menu-food__item {
    padding-left: 58px;
    padding-top: 45px;
    padding-bottom: 48px;
    flex-grow: 1;
}

.menu-food__item:not(:last-child) {
    border-bottom: var(--base-border);
}

.menu-food__item-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 65px;
}

.menu-food__item-description {
    font-size: clamp(12px, 0.93vw, 18px)
}

.menu-food__item-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}



/* reserve-table */

.reserve-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/bg-dots.png") center/cover repeat;
    padding-block: 135px;
    row-gap: 20px;
    border-inline: var(--base-border);
    border-bottom: var(--base-border);
}

.reserve-table__form {
    display: flex;
    column-gap: 35px;
}


.reserve-table__input {
    min-width: clamp(100px, 17.96vw, 345px);
    min-height: clamp(20px, 2.08vw,  41px);
}

/* team */
.team {
    display: flex;
    flex-direction: column;
    border-bottom: var(--base-border);

    border-inline: var(--base-border);
}

.team__list {
    display: flex;
    border-top: var(--base-border);
}

.team__title {
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 31px;
}

.team__member {
    display: flex;
    flex-direction: column;

    row-gap: 20px;

    padding-inline: 27px;
    padding-top: 38px;
    padding-bottom: 40px;
    flex-grow: 1;
}

.team__member:not(:last-child) {
    border-right: var(--base-border);
}

/* posts */
.posts {
    display: grid;
    grid-template-columns: 4fr 6fr;
    border-bottom: var(--base-border);
}

.posts__info {
    padding-top: 52px;
    padding-left: 60px;

    display: flex;
    row-gap: 632px;
    flex-direction: column;
}

.posts__button {
    max-width: 183px;
    max-height: 59px;
    text-align: center;
    padding-inline: 0;
}

.posts__item {
    display: flex;
    column-gap: 42px;
}

.posts__post-info {
    flex-grow: 1;
}

.posts__post-header-list {
    display: flex;  
    padding-bottom: 10px; 
}

.posts__post-header-item:not(:first-child) {
    padding-left: 10px;
}

.posts__post-header-item:not(:last-child) {
    padding-right: 10px;
}

.posts__post-header-item {
    position: relative;
}

.posts__post-header-item:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 50%;
    translate: 0 -50%;
    height: 18px;
    width: 1px;

    background-color: var(--color-dark-primary);
}

.posts__item {
    padding: 48px;
}

.posts__item:not(:last-child) {
    border-bottom: var(--base-border);
}

.posts__list {
    border-left: var(--base-border);
}

.posts__post-image {
    border-radius: 10px;
}

.posts__item-wrapper {
    padding-top: 21px;
    padding-bottom: 18px;

    display: flex;
    flex-direction: column;
}

.posts__view-more-button {
    max-width: 76px;
    max-height: 16px;

    padding-inline: 0;
}

.posts__post-header-item {
   font-size: clamp(12px, 0.93vw, 18px)
}

/* about-section */

.about-section {
    background-color: #C5D6D1;

    display: flex;
    column-gap: 54px;
    padding-block: 137px;
    padding-left: 118px;
}

.about-section__body {
    padding-top: 170px;
    padding-left: 80px;

    display: flex;
    flex-direction: column;
    row-gap: 58px;
}

.about-section__button {
    max-width: 154px;
    max-height: 60px;
}

.about-section__body-title:not(:last-child) {
    padding-bottom: 12px;
}



@media (max-width: 1700px) {
    .coffee-centers {
        flex-direction: column;
    }
    .coffee-centers__other-cities-item {
        writing-mode: horizontal-tb;
        transform: scaleY(1) scaleX(1);
    }
    .coffee-centers__amsterdam {
        padding-block: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .coffee-centers__other-cities-list {
        justify-content: space-evenly;
    }
    .coffee-centers__other-cities-item:first-child {
        border-right: none;
    }
    .coffee-centers__other-cities-item {
        border-left: none;
        flex-grow: 1;
        text-align: center;
    }
    .coffee-centers__other-cities-item:not(:last-child) {
        border-right: var(--base-border);
    }
    .coffee-centers__other-cities-list {
        border-bottom: var(--base-border);
    }
    button.coffee-centers__other-cities-item:not(:first-child) {
        border-block: none;
    }
    button.coffee-centers__other-cities-item {
        text-align: center;
    }
    button.coffee-centers__other-cities-item:hover {
        padding-block: 20px;
    }
    .about-section {
        flex-direction: column;
        align-items: center;

        padding-inline: 50px;

    }
    .about-section__body-description {
        padding-right: 50px;
    }
}


@media (max-width: 1280px) {
    .header__logo {
        order: -1;
        padding-left: 30px;
    }
    .header__inner-right-menu {   
        padding-inline: 0 36px;
    }
    .our-blends__title br {
        display: none;
    }
    .coffee-centers__other-cities-list {
        flex-direction: column;
    }
    .coffee-centers__other-cities-item:not(:last-child) {
        border-right: none;
        border-bottom: var(--base-border);
    }
    button.coffee-centers__other-cities-item:not(:last-child) {
        border-bottom: var(--base-border);
    }
    button.coffee-centers__other-cities-item:hover {
        padding-block: 22px;
    }
    .menu-food__item {
        padding-left: 30px;
    }
    .posts {
        display: flex;
        flex-direction: column;
    }
    .posts__list {
        border-top: var(--base-border);
    }
    .posts__info {
        flex-direction: row;
        padding-bottom: 20px;
        padding-right: 60px;
        justify-content: space-evenly;
        align-items: center;
    }
    .posts__button {
        padding-inline: 34px;
    }
    .posts__title br {
        display: none;
    }
    .about-section__body-title {
        font-size: 24px;
    }
    .about-section {
        padding-block: 50px;
    }
}

@media (max-width: 1024px) {
    .header__main {
        display: grid;
        align-content: end;
        grid-template-columns: 2fr 1fr;
    }
    .header__logo {
        grid-column: 1 / -1;
        height: 100px;
    }
    .header__logo-search {
        border: none;
    }
    .header__inner-list {
        padding-left: 20px;
    }
    .our-blends__body {
        display: flex;
        flex-direction: column;
    }
    .our-blends__product {
        border: none;
    }
    .our-blends__product-wrapper {
        border-left: var(--base-border);
        border-top: var(--base-border);
    }
    .our-blends__product-wrapper:last-child {
        border-right: var(--base-border);
    }
    .our-blends__content {
        padding-block: 50px;
        padding-left: 0;
        row-gap: 10px;
    }
    .view-more-button {
        padding-inline: 0;
    }
    .our-blends__content {
        padding-left: 15px;
    }
    .our-blends__products {
        border-top: var(--base-border);
    }
    .coffee-product.mark-new::after {
        width: 50px;
        font-size: 14px;
        padding-top: 0px;
    }
    .coffee-product.mark-sold::after {
        width: 53px;
        font-size: 14px;
    }
    .menu-food {
        display: flex;
        flex-direction: column;
    }
    .menu-food__list {
        border-top: var(--base-border);
    }
    .menu-food__body {
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu-food__body-title {
        display: flex;
        align-items: center;
    }
    .menu-food__body {
        padding-inline: 50px;
    }
    .reserve-table__form {
        flex-direction: column;     
        row-gap: 30px;   
    }
    .reserve-table__title {
        font-size: 30px;
    }
    .team__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .team__member {
        border-bottom: var(--base-border);
    }
    .team__title {
        padding-left: 40px;
    }
    .about-section {
        padding-block: 40px;
    }
}

@media (max-width: 767px) {
    .header__main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header__inner-list {
        padding-left: 0;
    }
    .header__inner-item {
        padding-inline: 6.7vw;
    }
    .banner__title {
        margin-block: 30px;
    }
    .coffee-quality__title br {
        display: none;
    }
    .coffee-quality__quote {
        row-gap: 15px;
    }
    .coffee-quality__quote.five-stars::before {
        padding-top: 40px;
    }
    .coffee-quality__quote.five-stars {
        padding-top: 10px;
    }
    .coffee-quality__body {
        padding-inline: 2.5px;
    }
    .our-blends__content {
        padding-block: 30px;
    }
    .our-blends__product {
        padding-bottom: 15px;
    }
    .our-blends__header-list {
        padding-block: 15px;
    }
    .coffee-centers__amsterdam {
        display: flex;  
        flex-direction: column;
        padding-inline: 15px;
    }
    .coffee-centers__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .coffee-centers__body {
        padding-top: 15px;
    }
    .coffee-menu__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .coffee-product {
        border-bottom: var(--base-border);;
    }
    .coffee-product.mark-new::after {
        width: 67px;
        font-size: 18px;
    }
    .coffee-product.mark-sold::after {
        width: 71px;
        font-size: 18px;
    }
    .menu-food__item-wrapper {
        display: block
    }
    .menu-food__body {
        flex-direction: column;
        align-items: start;
    }
    .menu-food__body-title br {
        display: none;
    }
    .team__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .team__title {
        font-size: 40px;
        padding-left: 30px;
    }
    .posts__info {
        flex-direction: column;
        row-gap: 30px;
    }
    .posts__item {
        flex-direction: column;
    }
    .posts__item-wrapper {
        row-gap: 20px;
    }
    .posts__post-title  {
        font-size: 18px;
    }
    .posts__post-header-list {
        flex-direction: row;
    }
    .posts__post-header-item:not(:last-child)::after {
        display: block;
    }
    .posts__post-header-item:not(:first-child) {
        padding-left: 10px;
    }
    .about-section__body {
        padding: 20px 0 0 0;
    }
    .about-section__body-title {
        font-size: 20px;
    }
    .about-section {
        padding-block: 30px;
    }
}