@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Space mono";
    src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-dark-primary: #202020;
    --color-dark-secondary: #1D1D1B;
    
    --color-text-primary: #FFFFFF;
    --color-text-muted: #707070;
    --color-accent: #FBED81;
        
    --color-bg-light-primary: #FFFFFF;
    --color-light-yellow: #FDF1D9;
    --color-light: #F8F8F8;


    --font-family-primary: 'Anton', sans-serif;
    --font-family-secondary: 'Space Mono', sans-serif;
}  